<nav class="navbar">
  <div class="navbar-left">
    <img src="assets/profile.png" alt="Profile" class="profile-img" />
    <span class="profile-name">Subrata Das</span>
    <!-- Hamburger Button -->
    <button class="burger" (click)="toggleMenu()">
      &#9776;
    </button>
  </div>

  <ul class="navbar-links" [ngClass]="{'open': menuOpen}">
    <li><a routerLink="/home" routerLinkActive="active">home</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About Me</a></li>
    <li><a routerLink="/experience" routerLinkActive="active">Experience</a></li>
    <li><a routerLink="/skills" routerLinkActive="active">Skills</a></li>
    <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
    <li><a routerLink="/certificates" routerLinkActive="active">Certificates</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Contact Me</a></li>
    <li>
      <a href="assets/SubrataDas7001188620CV1 (1).pdf" download="Subrata_Das_Resume.pdf" class="resume-link">resume</a>
    </li>
  </ul>
</nav>
