.cert-link {
  display: inline-block;
  transition: transform 0.3s ease;
}

.cert-img{
    width: 687px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    position: relative;
    left: 39rem;
    top: 50px;
}

.cert-link:hover .cert-img {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
